body {
    font-family: 'Poppins';
    background-color: rgb(221,229,244)
}

.container {
    background-color:rgb(241,247,254) ;
    color: rgb(72, 67, 76);
    width: 500px;
    margin: 7% auto;
    border-radius: 1.5em;
    padding: 2em;
    
}

.form-group {
    margin-bottom: 1em;
}

.age-group {
    width: 50%;
}

.bottom-group{
    display: flex;
}

label {
    display: block;
    margin-bottom: 0.5em;
}

.input-wrapper {
    position: relative;
    padding: 2px 10px;
    border-bottom: 1px solid #ccc; 
    background-color: rgb(226, 230, 239);
    border-radius: 0.5em;
    margin-bottom: 10px; 
    transition: background-color 0.2s ease; 
}

.input-wrapper:focus-within {
    background-color: rgb(221,229,244);
    border-bottom-color: #a3a4aa;
}

input,
select {
    background-color: rgb(226, 230, 239);
    width: 100%; 
    padding: 0.5em 0; 
    border: none; 
    background: none; 
    outline: none; 
}

.error-icon {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    display: none; 
    background-color: #ff5757f7; 
    color: #fff;
    border-radius: 50%; 
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

.invalid-feedback {
    color: red;
    display: none;
}

button {
    padding: 15px 25px;
    justify-content: end;
    margin: auto;
    background-color: #3E4684;
    border-radius: 2em;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease; 
}

button:hover{
    background-color: #2b3265;
}

#resultModal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 2em;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
